html {
  scrollbar-width: none;
  scrollbar-color: #fafafa transparent;
}

ul {
  list-style-type: none;
}

.has-scroll {
  scrollbar-width: thin;
}

.v-input__details {
  padding-left: 0 !important;
}
